


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #F3D7B7;

}



.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px; 
    

}

.section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 20px;
    background-color: #F3D7B7;
    height: 700px;

}

.img {
    width: 710px;
    position: relative;
    top: 70px;
    width: 660px;
height: 390px;
flex-shrink: 0;
}

.image-logo {
    position: absolute;
    top: -70px;
    left: -70px;
    z-index: 1;
}





.p {
    width: 372px;
    height: 85.366px;
    flex-shrink: 0;
 margin-top: 10%;
 margin-bottom: 10%;
}

.h1 {
    color: #000;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.second_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}


.box_card {
    display: flex;
    /* padding: 0 160px; */
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 30px auto;
}


.title_card {
    color: #000;

    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
    
}  


.description_card {
    color: #333;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.rasm {
    display: flex;
    justify-content: space-between;
    margin: 160px;
}


.section_3 {
    background-color: #C99B67;

}


.section_3 {
    background-color: #C99B67;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px 0;
}


.class {
    display: flex;
    align-items: center;
    justify-content: space-around;
   width: 100%;
}

.clas {
    color: white;
    width:500px;

}

.rect {
    width: 566px;
height: 552px;
flex-shrink: 0;
}


.unc {
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
}


.alt {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}


.footer {   
    height: 160px;
    background-color: #F3D7B7;
    display: flex;
    justify-content: space-around;

}

.DIV {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}


.images {
  width: 30px;
height: 30px; 
justify-content: center;
align-items: center;
display: flex;
gap: 25px;

}

.image {
   transform: translateY(-130px); 
}


.jjj {
    width: 400px;

}




